.skills {
    height: 35rem;
    width: 100vw;
    color: #fff;
}

.headingskills {
    font-size: 1.2rem;
    text-align: center;
}

.skills1 {
    height: 20rem;
    width: 100vw;
    display: flex;
}

.react {
    height: 10rem;
    width: 10vw;
    background-color: #fff;
    margin-left: 5rem;
    margin-top: 3rem;
    border-radius: 50%;
}

.reactimg2 {
    height: 6rem;
    margin-left: 1.5rem;
    margin-top: 1.6rem;
}

.html {
    background-color: #fff;
    height: 10rem;
    width: 10vw;
    margin-top: 3rem;
    margin-left: 3rem;
    border-radius: 50%;
}

.htmlimg1 {
    height: 6rem;
    margin-top: 1.5rem;
    margin-left: 1.7rem;
}

.css {
    background-color: #fff;
    height: 10rem;
    width: 10vw;
    margin-top: 3rem;
    margin-left: 3rem;
    border-radius: 50%;
}

.cssimg2 {
    height: 6rem;
    margin-top: 1.5rem;
    margin-left: 1.7rem;
}

.javascript {
    background-color: #fff;
    height: 10rem;
    width: 10vw;
    margin-top: 3rem;
    margin-left: 3rem;
    border-radius: 50%;
}

.javascriptimg3 {
    height: 6rem;
    margin-top: 1.5rem;
    margin-left: 1.7rem;
}

.bootstrap {
    background-color: #fff;
    height: 10rem;
    width: 10vw;
    margin-top: 3rem;
    margin-left: 3rem;
    border-radius: 50%;
}

.bootstrapimg4 {
    height: 9rem;
    margin-top: 0.7rem;
    margin-left: 0.6rem;
}

.materialUI {
    background-color: #fff;
    height: 10rem;
    width: 10vw;
    margin-top: 3rem;
    margin-left: 3rem;
    border-radius: 50%;
}

.materialUIimg5 {
    height: 7rem;
    margin-top: 1.6rem;
    margin-left: 1.3rem;
}

.headingskills:hover {
    color: aqua;
}

@media (min-width: 786px) and (max-width: 1020px) and (orientation: landscape) {
    skills {
        height: 35rem;
        width: 100vw;
        color: #fff;
    }
    
    .headingskills {
        font-size: 1rem;
        text-align: center;
    }
    
    .skills1 {
        height: 20rem;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
    }
    
    .react {
        height: 8rem;
        width: 12vw;
        background-color: #fff;
        margin-left: 2rem;
        margin-top: 3rem;
        border-radius: 50%;
    }
    
    .reactimg2 {
        height: 4rem;
        margin-left: 1.5rem;
        margin-top: 1.7rem;
    }
    
    .html {
        background-color: #fff;
        height: 8rem;
        width: 12vw;
        margin-top: 3rem;
        margin-left: 3rem;
        border-radius: 50%;
    }
    
    .htmlimg1 {
        height: 4rem;
        margin-top: 1.6rem;
        margin-left: 1.7rem;
    }
    
    .css {
        background-color: #fff;
        height: 8rem;
        width: 12vw;
        margin-top: 3rem;
        margin-left: 3rem;
        border-radius: 50%;
    }
    
    .cssimg2 {
        height: 4.6rem;
        margin-top: 1.5rem;
        margin-left: 1.1rem;
    }
    
    .javascript {
        background-color: #fff;
        height: 8rem;
        width: 12vw;
        margin-top: 3rem;
        margin-left: 3rem;
        border-radius: 50%;
    }
    
    .javascriptimg3 {
        height: 4.5rem;
        margin-top: 1.6rem;
        margin-left: 1.6rem;
    }
    
    .bootstrap {
        background-color: #fff;
        height: 8rem;
        width: 12vw;
        margin-top: 3rem;
        margin-left: 3rem;
        border-radius: 50%;
    }
    
    .bootstrapimg4 {
        height: 6.5rem;
        margin-top: 0.7rem;
        margin-left: 0.6rem;
    }
    
    .materialUI {
        background-color: #fff;
        height: 8rem;
        width: 12vw;
        margin-top: 3rem;
        margin-left: 3rem;
        border-radius: 50%;
    }
    
    .materialUIimg5 {
        height: 5rem;
        margin-top: 1.6rem;
        margin-left: 1.3rem;
    }
    
    .headingskills:hover {
        color: aqua;
    }  
}
