.herosection {
    color: #fff;
    height: 40rem;
    width: 100vw;
    background-color: #0d0d0d;
    display: flex;
}

.left {
    height: 40rem;
    width: 70vw;
    padding-top: 13rem;
    padding-left:5rem;
}

.right {
    padding-top: 0rem;
    width: 70vw;
}

.herosectionh1 {
    font-size: 1.5rem;
}

.herosectionh1 span {
    color: aqua;
}

.stack {
    font-size: 1.5rem;
}

.myimage {
    height: 30rem;
    padding-top: 12rem;
    padding-left: 12rem;
}

@media (min-width: 786px) and (max-width: 1024px) and (orientation: landscape)  {
    .herosection {
        color: #fff;
        height: 40rem;
        width: 100vw;
        background-color: #0d0d0d;
        display: flex;
    }
    
    .left {
        height: 40rem;
        width: 70vw;
        padding-top: 13rem;
        padding-left: 2rem;
    }
    
    .right {
        height: 40rem;
        width: 70vw;
    }
    
    .herosectionh1 {
        font-size: 1.2rem;
    }
    
    .herosectionh1 span {
        color: aqua;

    }
    
    .stack {
        font-size: 1rem;
    }
    
    .myimage {
        height: 28rem;
        padding-top: 13rem;
        padding-left: 5rem;
    }
}